<%= alert %>
<div class="container">
 <div class="row">
  <div class="mx-auto col-10">
    <h2>Vリスナーコミュへようこそ！</h2>

    <p>ここではVtuberリスナー同士がお互いの推しを</p>
    <p>共有しあったり、イベントやグッズ等の情報を</p>
    <p>共有したりして推し事をサポートできたらと思ってます！</p>
  </div>
 </div>
</br>
 <div class="row">
  <div class="mx-auto col-10">
   <h4>ゲストログインはこちらから！</h4>
  <%= link_to 'ゲストログイン', guests_guest_sign_in_path, method: :post, class: "btn btn-success btn-sm" %>
  </div>
 </div>

</div>