<div class="container">
 <div class="row">
  <div class="mx-auto col-12">
    <h2>Vリスナーコミュへようこそ！</h2>
    
    <p>ここではVtuberリスナー同士がお互いの推しを</p>
    <p>共有しあったり、イベントやグッズ等の情報を</p>
    <p>共有したりして推し事をサポートできたらと思ってます！</p>
  </div>
 </div>
 
</div>